#contact
  .primary-contact
    %h1 Email:
    %p
      If you'd like to get in touch, email me at:
      %span.details= link_to 'lukerpfeiffer@ufl.edu', 'mailto:lukerpfeiffer@ufl.edu'
  .secondary-contact
    %p.subheader
      %span.bold Skype:
      %span.details lukerpfeiffer
    %p.subheader
      %span.bold Twitter:
      %span.details= link_to 'lukerpfeiffer', 'https://twitter.com/lukerpfeiffer', target: '_blank'
    %p.subheader
      %span.bold Github:
      %span.details= link_to 'lukepfeiffer', 'https://github.com/lukepfeiffer', target: '_blank'
    %p.subheader
      %span.bold Linkedin:
      %span.details= link_to 'Luke Pfeiffer', 'https://www.linkedin.com/in/luke-pfeiffer-a4a272133', target: '_blank'
