#home
  .content
    .profile-picture
      = image_tag 'profile_pic.jpg'

    %p Hello all, my name is Luke Pfeiffer. I have been devoloping web applications for over three years now. I currently work for Fresh Start Software as a junior devopler as a well as doing some free lance work on the side. I just started the "college life" this fall at the University of Florida, studying computer engineering. If I am not coding you can find me at the local skatepark! I've also made a couple edits of some of my tricks.
