#projects
  .content
    %h1 Projects
    .project
      .sub-header
        %p
          %span.bold Target Zero
          %span= link_to 'https://www.target-zero.org', 'https://www.target-zero.org', target: '_blank'
      .left= image_tag 'target_zero.png'
      %p.details This is a web app that I developed software for. I wrote both front end and back end code that enabled employees of this nonprofit organization to edit the pages as needed. Also implemented functionality to add new fields to existing models.

    .project#smart-pharmacy
      .sub-header
        %p
          %span.bold Smart Pharmacy
          %span= link_to 'https://smartpharmacy.com/', 'https://smartpharmacy.com/', target: '_blank'
      .left= image_tag 'smart_pharmacy.png'
      %p.details On this project I worked alongside the Fresh Start Software team to create a better user experience for the employees. Smart Pharmacy had an existing internal web application for it's employees and as a team we implemented new functionality using Agile Sprint Development.
