#resume
  = link_to 'Download PDF', '/luke_pfeiffer_resume.pdf', target: '_blank'
  .header
    %p lukerpfeiffer@ufl.edu
    %p https://github.com/lukepfeiffer

  .content
    .container
      .category
        %h2 Education
        %p.title
          %span.bold University of Florida
          %span.italic, Gainesville, Florida
          %span.right May 2020
        %p.italic Computer Engineering (Software)

      .category
        %h2 Professional Experience
        %p.title
          %span.bold Junior Software Engineer
          %span.italic, Fresh Start Software
          %span.right June 2015 - Present
        %ul
          %li Developed software using the Agile Sprint method
          %li Refactor code from existing webapps to increase the speed of reqeusts to the server
          %li Lead test driven development to ensure working code and client confidence
          %li Implemented user interfaces for better user interactions

        %p.title
          %span.bold Lead Developer
          %span.italic, Independent Development
          %span.right August 2016 - Present
        %ul
          %li Determined specs for the project to ensure a correct build and build client confidence
          %li Developed photo gallery, both front end and back end, from scratch
          %li Maintained a healthy relationship with client

        %p.title
          %span.bold Web and Development Chair
          %span.italic, Association of Computer Engineers
          %span.right December 2016 - Present
        %ul
          %li Organize and present workshops
          %li Update and add functionality to the organizations website
          %li Deployed website to archive all workshops for the organization

      .category
        %h2 Development Experience
        %p.title
          %span.bold Personal Website
          %span.italic, Lukerpfeiffer
        %ul
          %li Front end and back end development from scratch
          %li Create design for the application
          %li Configured Postgres database
        %p.title
          %span.bold Workshop Archive
          %span.italic, aceworkshops
          %span.right.bold= link_to 'https://aceworkshops.herokuapp.com', 'https://aceworkshops.herokuapp.com', target: '_blank'
        %ul
          %li Front end and Back end development from scratch
          %li Designed the user interface
          %li Configured postgres database
        %p.title
          %span.bold Java Programs
          %span.italic, independent development
          %span.right.bold= link_to 'https://github.com/lukepfeiffer/java_programs', 'https://github.com/lukepfeiffer/java_programs', target: '_blank'
        %ul
          %li Learned Java syntax and design patterns
          %li Developed small games to apply real world examples to data structures
      .category
        %h2 Professional Education
        %p.title
          %span.bold Mentee
          %span.italic, under Micah Cooper from Heroku
          %span.right September 2013 - January 2016
        %ul
          %li Developing clean code using Ruby on Rails conventions and design patterns
          %li Organization of projects through github
      .category
        %h2 Programming Proficiencies
        %ul.proficiencies
          %li Git Version Management
          %li Java
          %li Jquery
          %li Javascript
          %li Ruby on Rails
          %li Ruby
          %li HTML
          %li Haml
          %li CSS
          %li Reactjs (novice)
          %li Vim Text Editor
          %li Linux Command Line
