#resume
  .header
    %p lukerpfeiffer@ufl.edu
    %p https://github.com/lukepfeiffer

  .content
    .container
      .category
        %h2 Education
        %p.title
          %span.bold University of Florida
          %span.italic, Gainesville, Florida
          %span.right May 2020
        %p.italic Computer Engineering (Software)

      .category
        %h2 Professional Experience
        %p.title
          %span.bold Junior Software Engineer
          %span.italic, Fresh Start Software
          %span.right June 2015 - Present
        %ul
          %li Developed software using the Agile Sprint method
          %li Refactor code from existing webapps to increase the speed of reqeusts to the server
          %li Lead test driven development to ensure working code and client confidence
          %li Implemented user interfaces for better user interactions

        %p.title
          %span.bold Lead Developer
          %span.italic, Independent Development
          %span.right August 2016 - Present
        %ul
          %li Determined specs for the project to ensure a correct build and build client confidence
          %li Developed photo gallery, both front end and back end, from scratch
          %li Maintained a healthy relationship with client
      .category
        %h2 Development Experience
        %p.title
          %span.bold Personal Website
          %span.italic, Lukerpfeiffer
        %ul
          %li Front end and back end development from scratch
          %li Configured Postgres database
        %p.title
          %span.bold Web Application
          %span.italic,
          %span.right.bold= link_to 'https://my-first-year-florida.herokuapp.com/'
        %ul
          %li Developed quicker user interactions using Ajax requests and Jquery
          %li Designed the user interface
          %li Configured Postgres Database
      .category
        %h2 Professional Education
        %p.title
          %span.bold Mentee
          %span.italic, under Micah Cooper from Heroku
          %span.right September 2013 - February 2016
        %ul
          %li Developing clean code using Ruby on Rails conventions and design patterns
          %li Organization of projects through github
        %p.title
          %span.bold Mentee
          %span.italic, under Association of Computer Engineers
          %span.right September 2016 - December 2016
        %ul
          %li Communicating ideas through presentations and live coding
          %li Approaching difficult problems from new angles
          %li Introduction to Java8 development
      .category
        %h2 Programming Proficiencies
        %ul.proficiencies
          %li Ruby on Rails
          %li Ruby
          %li Java (Novice)
          %li CSS
          %li HTML5
          %li Haml
          %li Javascript
          %li Jquery
          %li Cucumber
          %li Rspec
          %li Linux Command Line
          %li Vim Text Editor
          %li Github Version Management
