/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "home";
@import "users";
@import "neat";
@import "base/base";
 */

#main{
  $font: "Varela Round", sans-serif;
  $header-color: #111111;
  $link-font-size: 24px;
  $soft-gray: #999999;

  text-align: center;
  font-family: $font;
  margin: 5em;
  border: 1px solid $soft-gray;

  h1{
    font-size: 28px;
  }

  .navigation{
    text-transform: uppercase;
    color: $header-color;
    .actions{
      a{
        margin: 0;
        text-decoration: none;
        margin: 5px 10px;
        padding: 0 0 5px 0;
        color: $soft-gray;
        font-size: $link-font-size;
        font-weight: 400;
        &:hover{
          color: $header-color;
          border-bottom: 1px solid $soft-gray;
        }
      }
    }
  }

  .footer {
    .links {
      text-align: center;

      ul.social {
        margin: 0;
        li {
          list-style-type: none;
          float: left;
          font-size: 1em;
          line-height: 0;
          margin: 0;
          padding-right: 0.7em;

          &:last-child {
            padding-right: 0;
          }
        }

        img {
          height: 1.6em;
          opacity: 0.7;
          padding: 1px;

          &:focus, &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
