/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "home";
@import "users";
@import "neat";
@import "base/base";
 */

#main{
  $font: "Varela Round", sans-serif;
  $dark-gray: #111111;
  $link-font-size: 24px;
  $soft-gray: #999999;
  $link-color: #517a9e;
  $danger-color: #FA3434;
  $warning-color: #FF9308;

  .right{
    float: right;
  }

  .left{
    float: left;
  }

  height: 100%;
  text-align: center;
  font-family: $font;
  margin: 5em;
  border: 1px solid $soft-gray;

  .main-content{
    margin: 6em 0em;
  }

  .bold{
    font-weight: bold;
  }

  .italic{
    font-style: italic;
  }

  .pagination{
    $background-color: #D7DEF0;
    $font-color: #4D4D4D;
    padding-top: 1em;
    text-align: center;
    margin: 0 0 30px 0;
    a, .previous_page, .next_page, em{
      background-color: $background-color;
      text-decoration: none;
      color: $font-color;
      padding: 10px;
      border-radius: 4px;
      &:hover{
        background-color: darken($background-color, 8%);
      }
    }

    em, .disabled{
      background-color: darken($background-color, 10%);
    }
  }


  h1{
    font-size: 28px;
    font-weight: 200;
    a{
      text-decoration: none;
      color: $dark-gray;
      &:hover{
        color: lighten($dark-gray, 20%);
      }
    }
  }

  .navigation{
    text-transform: uppercase;
    color: $dark-gray;
    .actions{
      a{
        margin: 0;
        text-decoration: none;
        margin: 5px 10px;
        padding: 0 0 5px 0;
        color: $soft-gray;
        font-size: $link-font-size;
        font-weight: 400;
        &:hover{
          color: $dark-gray;
          border-bottom: 1px solid $soft-gray;
        }
      }
    }
  }

  .footer {
    height: 100%;
    padding-bottom: 5em;
    .links {
      .social {
        padding: 1em 0;
        width: 98%;
        margin: 0 1em;
        float: left;
        border-top: 1px solid $soft-gray;
        border-bottom: 1px solid $soft-gray;

        li {
          list-style-type: none;
          float: left;
          font-size: 1.4em;
          padding-right: 0.7em;

          &:last-child {
            padding-right: 0;
          }
        }

        img {
          height: 1.6em;
          opacity: 0.7;
          padding: 1px;

          &:focus, &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }

  .form{
    text-align: left;

    fieldset{
      border: none;
    }

    dd{
      margin: 1em 0;
    }

    input[type=text], input[type=password]{
      padding: 10px;
      width: 50%;
      height: 2em;
      font-size: 18px;
      border-radius: 4px;
    }

    textarea{
      line-height: 150%;
      padding: 10px;
      font-size: 18px;
      width: 50%;
      height: 15em;
      border-radius: 4px;
    }

    input[type=submit]{
      padding: 0 10px;
      font-size: 18px;
      height: 2em;
      border-radius: 18px;
      color: #28AADC;
      border: 1px solid #28AADC;
      background: #fff;
      font-weight: bold;
      &:hover{
        color: darken(#28AADC, 20%);
        border: 1px solid darken(#28AADC, 20%);
      }
    }

  }

  #home{
    margin-top: 4em;
    text-align: center;
    padding-bottom: 4em;
    .content{
      p{
        font-weight: 300;
        font-size: 18px;
        line-height: 200%;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
        text-align: left;
      }
      .profile-picture{
        img{
        }
      }
    }
  }

  #posts{
    width: 60%;
    margin: 5em auto 5em auto;
    .content{
      .container{
        font-size: 17px;
        border-bottom: 1px solid $soft-gray;
        padding: 0 0 2em 0;

        img{
          width: 100%;
        }
        p{
          text-align: left;
        }

        .italic{
          color: $link-color;
        }

        .admin-actions{
          a{
            width: 100%;
            margin: 0;
            text-decoration: none;
            margin: 5px 10px;
            padding: 8px;
            border-radius: 29px;
            color: $soft-gray;
            font-size: 14px;
            font-weight: 400;
            margin-right: 5px;
          }

          .danger{
            color: $danger-color;
            border: 1px solid $danger-color;
            &:hover{
              color: darken($danger-color, 10%);
              border: 1px solid darken($danger-color, 10%);
              background-color: darken(#fff, 8%);
            }
          }
          .warning{
            color: $warning-color;
            border: 1px solid $warning-color;
            &:hover{
              color: darken($warning-color, 10%);
              border: 1px solid darken($warning-color, 10%);
              background-color: darken(#fff, 8%);
            }
          }
        }

        .body{
          line-height: 150%;
        }
      }
    }
  }

  #contact{
    width: 60%;
    margin: 5em auto 5em auto;

    a, .details{
      color: $link-color;
      text-decoration: none;
      &:hover{
        color: darken($link-color, 8%);
      }
    }

    .primary-contact{
      text-align: left;
      border-bottom: 1px solid $soft-gray;
      padding-bottom: 3em;
      p{
        font-size: 18px;
      }
    }

    .secondary-contact{
      font-size: 18px;
      text-align: left;
      color: $dark-gray;
    }
  }

  #projects{
    width: 60%;
    margin: 3em auto 5em auto;
    text-align: left;
    .content{
      h1{
        border-bottom: 1px solid $soft-gray;
      }

      .project{
        border-bottom: 1px solid $soft-gray;
        padding-bottom: 4em;

        .left{
          width: 25%;
          img{
            width: 100%;
          }
        }

        .sub-header p{
          a{
            color: $link-color;
            text-decoration: none;
            &:hover{
              color: darken($link-color, 8%)
            }
          }

          .bold{
            font-weight: 500;
            font-size: 22px;
          }
        }
      }
    }

    #smart-pharmacy{
      img{
        width: 54%;
      }
    }
  }

  #resume{
    $font-size: 18px;

    border: 1px solid #000;
    height: 100%;
    width: 80%;
    margin: 3em auto;
    box-shadow:  2px 2px #ccc;

    .header{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid $soft-gray;
    }

    .content{
      margin-left: auto;
      margin-right: auto;
      text-align: left;

      p{
        margin: 0;
        font-size: 16px;
      }

      .container{
        margin: 0 3em;
      }

      .title{
        margin-top: 1em;
        .bold{
          font-size: $font-size;
        }
      }

      a{
        color: $link-color;
        text-decoration: none;
        &:hover{
          color: $dark-gray;
          cursor: pointer;
        }
      }

      .proficiencies li{
        width: 100%;
      }

      ul{
        margin-top: 0;
        li{
          font-size: $font-size;
        }
      }

      h2{
        text-decoration: underline;
        font-weight: 550;
        font-size: 20px;
        margin: 1em 0 0 0 ;
      }
    }
  }
}
